body {

    background-color: rgb(54, 54, 54) ;
    margin: 0;
}

header {
    color: rgb(214, 207, 207);
    background-color: rgb(214, 82, 56);

    text-align: center;
    font-size: 30px;
    font-family: "Anton", sans-serif;
    

    padding: 10px;
    padding-top : 10px;
    margin-left: 0em;
    margin-right: 0em;

    
}


nav, nav a {

    text-decoration: none;

    color: rgb(214, 207, 207);
    background-color: rgb(20, 20, 20);

    font-family: "Nunito", sans-serif;
    text-align: center;
    padding-top : 2px;
    padding-bottom: 2px;
    margin-right: 0px;


}

main {

    display: flex;
    flex-direction: row;

    

}

.gauche {

    background-color:rgb(214, 82, 56);
    height: 746px;
    width: 300px;
    border-right: 3px solid black;
    flex: 1;

}

.coordonnees {

    margin-left: 20px;


}

.diplomes {

    margin-top: 100px;
    margin-left: 20px;

}

.centre_interets {
    margin-left: 20px;
}

.droite {

    height: 700px;

    flex:4;

    

}

.profile {

    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2.5em;
    border: 3px solid black;
    border-radius: 25px;
    background: linear-gradient(90deg, rgb(112, 28, 28) 0%, rgb(214, 82, 56) 50%, rgb(112, 28, 28) 100%);



}

.profile, .profile p {

    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.experience {

    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2.5em;
    border: 3px solid black;
    border-radius: 25px;
    background: linear-gradient(90deg, rgb(112, 28, 28) 0%, rgb(214, 82, 56) 50%, rgb(112, 28, 28) 100%);



}

.experience, .experience p {

    text-align: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1 {

    font-size: 21px;
    font-family: "Nunito", sans-serif;
    color: rgb(255, 255, 255);

}



.coordonnees, .coordonnees li {
    color:rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.diplomes, .diplomes li {
    color:rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.centre_interets, .centre_interets li {
    color:rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

.maintext {

    background-color: rgb(240, 0, 32);
    height: 20px;
    width: 10%;
    min-width: 1000px;
    max-height: 500px;

}

#test {

    color: rgb(248, 1, 34);
    
}

a[title="cv en construction"] {

    color: rgb(0, 153, 255)
}