h1 {
    color: green
}

body {
    color: rgb(111, 218, 69);
    background-color: rgb(255, 255, 255);
    
}

#test {

    color: rgb(248, 1, 34);
    
}

a[title="cv en construction"] {

    color: rgb(0, 153, 255)
}